/* Styling for the first paragraph */
.first__paragraph {
    color: blue;
    font-size: 18px;
    
}

/* Styling for the second paragraph */
.second__paragraph {
    color: green;
    font-size: 16px;
   
}

/* Styling for the third paragraph */
.third__paragraph {
    color: red;
    font-size: 20px;
    
}

/* Styling for the fourth paragraph */
.fourth__paragraph {
    color: orange;
    font-size: 14px;
   
}

/* Styling for the fifth paragraph */
.fifth__paragraph {
    color: purple;
    font-size: 22px;
    
}
